<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Digimap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Map")">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("PisoMenosUno","Map")" width="1000" height="600" class="img-fluid">Piso -1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("PisoUno","Map")">Piso 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="@Url.Action("PisoDos","Map")">Piso 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="@Url.Action("PisoTres","Map")">Piso 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("PisoCuatro","Map")">Piso 4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("PisoCinco","Map")">Piso 5</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("PisoSeis","Map")">Piso 6</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("PisoSiete","Map")">Piso 7</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("PisoOcho","Map")">Piso 8</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vergara's Technologies</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
